.table_container {
    width: 100%;
}

.header_table_name {
    width: 100%;
    color: white;
    /*background: green;*/
}

th {
    background: green;
}

tr {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.55);
}

.btn_page {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
}