.container {
    width: 100%;
    height: 250px;
    display: flex;
    position: relative;
}

.formContainer {
    display: flex;
    position: absolute;
    right: -1600px;
    bottom: 50px;
}
.form{
    display: flex;
    width: 500px;

}

.btn_edit{
    position: absolute;
    right: -1700px;
    bottom: 70px;
}

.comment{
    width: 400px;
}
