.container {
    width: 100%;
    height: 250px;
    background: white;
    display: flex;
    position: relative;

}

.formContainer {
    display: flex;
    position: absolute;
    right: -1600px;
    bottom: 50px;
}
.form{
    display: flex;
    width: 500px;
}

.btn_edit{
    position: absolute;
    right: -1700px;
    bottom: 70px;
}

.comment{
    width: 400px;
}

.modal_btn{
    width: 80px;
    height: 40px;
    background: green;
    color: white;
    font-weight: 600;
}

.modal_btn:hover{
    background: green;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}